.main-wrapper{
    display: flex;
    /* background-color: brown; */
    align-items: center;
    height: 68vh;
    width: 80vw;
    margin: auto;
}

.main-inner-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-btn-wrapper{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    
}
.btn{
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 800;
}
.btn-dark{
    background-color: #0B2447;
    color: #A5D7E8;
}

