.MainDashBoardWrapper{
    /* background-color: red; */
    height: 100vh;
    overflow: scroll;
    width: 80vw;
    padding-top: 10px;
}
.titleWrapper{
    /* background-color: pink; */
    display: flex;
    align-items: start;
    margin-left: 40px;
}
