.avatar{
    display: flex;
    margin-left: 30px;
    /* background-color: pink; */
    align-items: center;
}
.avatar > span{
    margin-left: 15px;
}

.scrollbar::-webkit-scrollbar {
    width: 1px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 6px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }