.login-form{
    margin-top: 50px;
    padding: 20px;
    width: 400px;
    position: relative;
    box-shadow: #A5D7E8 1px 1px 1px 1px;
    /* border: 1px solid rgba(0, 0, 0, 0.408); */
    border-radius: 10px;
    margin-left: 50px;
}

.login-form > h2 {
    margin-bottom: 20px;
    font-weight: 800;
}

.form > span {
    margin-top: 20px;
}
    

